{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "key-spacing": 0,
    "no-multi-spaces": 0,
    "quotes": ["error", "single"]
    "no-param-reassign": 0
  }
}
